<div class="jumbotron">
  <div class="container">
    <h1>Say hello to erinra!</h1>
    <p>Access your passwords from anywhere without trusting anyone but yourself.</p>
    <p><a class="btn btn-primary btn-lg" role="button" [router-link]="['/About']">Learn more &raquo;</a></p>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h2>Secure</h2>
    <p>All data is stored encrypted in your google drive. No unencrypted passwords ever leavs your
    browser.</p>
    <p>Erinra only needs access to its "appdata". It's not interested in who you are or what other files you may have stored on your drive.</p>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
  <div class="col-md-4">
    <h2>Available</h2>
    <p>Erinra is available form all devices with a webbrowser, no need for specialized applications.</p>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
 </div>
  <div class="col-md-4">
    <h2>Simple</h2>
    <p>To host your own version of erinra you need a webserver capable of serving
    static files, which should be pretty much any webserver.</p>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
</div>
