<h1>Database: {{title}}</h1>

<div [ng-switch]="state">
  <template [ng-switch-when]="State.ERROR">
    <span>Error: {{errorMessage}}</span>
  </template>
  <template [ng-switch-when]="State.NOT_LOADED">
    <span>No database is loaded.</span>
  </template>
  <template [ng-switch-when]="State.LOADING">
    <div>Loading...</div>
  </template>
  <template [ng-switch-when]="State.LOCKED">
    <div>Database is locked, enter password to unlock.</div>
    <div>{{errorMessage}}</div>
    <unlock-database [db]="dbDesc" (on-unlock)="unlock($event)" />
  </template>
  <template [ng-switch-when]="State.UNLOCKED">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Password</th>
            <th>Strength</th>
            <!-- <th>Url</th> -->
            <th>Note</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ng-for="#password of store.database.passwords; #i = index">
            <td>{{password.title}}</td>
            <td>{{password.username}}</td>
            <td>

              <button type="submit" class="btn btn-link" (click)="togglePasswordVisible(i)" >
                  <i *ng-if="!isVisible(i)" class="fa fa-eye fa-1x fa-fw" title="Show password"></i>
                  <i *ng-if="isVisible(i)" class="fa fa-eye-slash fa-1x fa-fw" title="Hide password"></i>
              </button>
              {{password.password | maskpassword:isVisible(i)}}
            </td>
            <td><password-strength-bar [password]="password.password" /></td>
            <!-- <td><a href="{{password.url}}">{{password.url}}</a></td> -->
            <td>{{password.note}}</td>
            <td>
              <a href="{{password.url}}" class="btn btn-link">
                <i class="fa fa-link fa-1x fa-fw" title="{{password.url}}"></i>
              </a>
              <a [router-link]="['../PasswordEdit', {db: title, id: i}]" class="btn btn-link">
                <i class="fa fa-edit fa-1x fa-fw" title="Edit entry"></i>
              </a>
              <button type="submit" class="btn btn-link" (click)="delete(i)" >
                  <i class="fa fa-remove fa-1x fa-fw" title="Remove entry"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <a [router-link]="['../PasswordEdit', {db: title, id: i}]" class="btn btn-primary">
      <i class="fa fa-plus-circle fa-1x fa-fw" title="Add entry"></i> Add
    </a>
  </template>
</div>
