.google-button {
  width: 191px;
  height: 46px;
  text-decoration:none;
  border: 0px;
  box-shadow:none;

  outline: none;
  border: none;

  background: url("/assets/images/btn_google_signin_dark_normal_web.png") no-repeat scroll 0 0 transparent;
}

.google-button:hover {
  outline: none;
  border: none;
  background: url("/assets/images/btn_google_signin_dark_focus_web.png") no-repeat scroll 0 0 transparent;
}

.google-button:active {
  outline: none;
  border: none;
  background: url("/assets/images/btn_google_signin_dark_pressed_web.png") no-repeat scroll 0 0 transparent;
}
